* {
  margin:  0;
  padding: 0;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size:   13px;
  color:       #c2c2cf;
  background:  #4e4d59;
}

header {
  width:  100%;
  height: 97px;

  background: url(images/header_back.png) repeat-x;

  position: fixed !important;
  position: absolute;
  top:     0;
  left:    0;
  z-index: 2;
}

header section {
  width:  840px;
  height: 80px;

  background: url(images/header_back.png) repeat-x;

  position: relative;
}

header h1 {
  padding: 18px 0 0 18px;
}

header h1 a {
  background: url(images/malkierdotnet.png) no-repeat;

  display: block;
  width:   189px;
  height:  45px;
}

header h1 a span { display: none; }

header span.note {
  display:  block;
  position: absolute;

  right:   0;
  top:     26px;
  height:  23px;
  padding: 6px 100px 0 0;

  text-align:  right;
  font-style:  italic;
  white-space: nowrap;

  text-shadow: #16161a 1px 1px 0;
}

header span.note a:hover { color: #fff; }

#main {
  position: absolute;

  width:   840px;
  top:     80px;
  left:    0;
  z-index: 1;
}

#content {
   padding: 30px 0 0 25px;

   width: 65%;
   top:   80px;
}

#content h1 {
  font-size: 16px;
  color:     #fff;
  padding: 0 0 10px 0;
}

#content h2 {
  font-size: 14px;
  color:     #fff;
  padding: 0 0 10px 0;
}

#content h3 {
  font-size: 12px;
  color:     #fff;
  padding: 0 0 7px 0;
}

#content p {
  margin: 0 0 10px 0;

  line-height: 17px;
}

#content p a {
   border-bottom: 1px solid #626a73;
   text-shadow: #000 0 0 0;
}

#content p a:hover { background-color: #626a73; }

#content span.info {
  font-size:  10px;
  display:    block;
  text-align: right;
}

#content ol, ul {
  margin: 0 0 10px 30px;
}

#content blockquote {
   border-left: 2px solid #626a73;
   padding-left: 10px;
}

nav {
  float:   right;
  width:   200px;
  padding: 30px 15px 0 0;
  margin:  0;
}

nav h2 {
  display: block;
}

.border_spacer {
  background: url(images/right_spacer.gif) repeat-x;

  height: 2px;
  margin: 20px 0;
}

nav li {
  font-family: Verdana, sans-serif;

  text-transform: uppercase;
  list-style:     none;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}

nav p {
  line-height: 22px;
  font-size:   13px;
  text-shadow: #16161a 1px 1px 1px;
}

nav p a { color: #fff; }

nav ul {
  padding: 0;
  margin:  0;
}

nav .box a {
  display: block;

  background: #3f3e47;

  padding: 8px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow:    #323239 0 -1px 0;
  -webkit-transition:    0.5s text-shadow;
  -moz-border-radius:    4px;
}

nav .box a:hover {
  color:       #fff;
  text-shadow: #ccccd9 0 0 10px;
}

nav .box a em {
  display: block;

  font-family: Georgia, "Times New Roman", Times, serif;

  font-size:   12px;
  line-height: 23px;
  text-align:  center;
  padding:     3px 0;
}

nav .box a strong {
  display: block;

  text-align: right;
  padding:    3px 20px 6px 0;
}

nav footer p {
  margin: 10px 0 0 0;

  text-align: center;
}

nav footer p.copyright {
  font-size: 10px;
  text-align: left;
}

nav footer p.copyright a {
  text-decoration: none;

  color:   #ccccd9;
  outline: 0;

  text-shadow: #16161a 1px 1px 0;
}

nav footer p.copyright a:hover {
  color: #fff;
  text-shadow: #ccccd9 0 0 10px;
  -webkit-transition:    0.5s text-shadow;
}

.spacer { clear: both; }

a {
  text-decoration: none;

  color:   #ccccd9;
  outline: 0;

  text-shadow: #16161a 1px 1px 0;
}

a:hover {
  color: #fff;
  text-shadow: #ccccd9 0 0 10px;
  -webkit-transition:    0.5s text-shadow;
}

.cbox {
  display: block;

  background: #3f3e47;

  margin:  30px 0 0 30px;
  padding: 10px 10px 10px 10px;

  width: 55%;

  padding: 8px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow:    #323239 0 -1px 0;
  -webkit-transition:    0.5s text-shadow;
  -moz-border-radius:    4px;
}

img { border: none; }

pre {
  font-family: "Bitstream Vera Sans Mono", Courier, Monaco, ProFont, "American Typewriter", "Andale Mono", monospace;

  line-height: 1.45em;
  color:       #eee;
  margin:      2em 0 2.5em 0;
  padding:     5px 0 5px 10px;

  background-color: inherit;

  border-width: 1px 0 1px 0;
  border-color: #626a73;
  border-style: dashed;
}

code {
  font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
  font-size:   0.91em; /* 1.09em for Courier */
}

hr {
  border: 1px dashed #626a73;
  margin: 0 0 7px 0;
  color:  #626a73;

  background-color: #626a73;
}

.footnotes hr {
  margin: 50px 0 20px 0;
  width: 25%;
}
